<div class="row home-header">
  <h5 class="survey-heading">CHOOSE RECIPIENTS</h5>
</div>

<form>
  <div class="row">
    <h1 id="form-name" data-fid="<%= @f.id %>"><%= @f.name %></h1>
    <h2>Survey Link: <%= link_to form_take_url(@f), form_take_path(@f), target: "_blank" %></h2><br>
    Please input phone numbers, separated by commas.<br><br>
    <textarea rows="6" cols="1" placeholder="Phone Numbers" id="phonenumbers"></textarea>
  </div>

  <div class="row finish-cancel">
    <div class="finish columns right small-5 medium-3 large-2" id="send-twilio-num">
      <span>Send</span>
    </div>
  </div>
</form>
