<div class="row home-header">
  <h5 class="survey-heading">CHOOSE RECIPIENTS</h5>
</div>

<form>
  <div class="row">
    <h1 id="form-name" data-fid="<%= @f.id %>"><%= @f.name %></h1>
    <p>Phone Numbers, separated by commas.</p>
    <textarea rows="6" cols="1" placeholder="Phone Numbers" id="phonenumbers"></textarea>
  </div>

  <div class="row finish-cancel">
    <div class="finish columns right small-5 medium-3 large-2" id="send-twilio-num">
      <span>Send</span>
    </div>
    <%= link_to(root_path) do %>
      <div class = "cancel columns right small-6 medium-4 large-3">
        <span>Return to Dashboard</span>
      </div>
    <% end %>
  </div>
</form>
