@import "main.scss";

.survey-heading {
  margin-top: 40px;
}

.survey {
  margin-bottom: 60px;
}

.custom-option {
  color: red;
}

.options {
  margin-left: 20px;
  margin-bottom: 0;

  .fa-close {
    color: #B3B3B3;
    cursor: pointer;
  }
}

.fa-close:hover {
  color: #808080;
}

.delete {
  margin-left: 10px;
  padding: 5px 9px 6px 9px;
}

.delete:hover {
  cursor: pointer;
  background-color: $light-gray;

  i {
    color: $teal;
  }
}

.chevron {
  margin-left: 10px;
  padding: 5px 8px 6px 8px;
}

.chevron:hover {
  cursor: pointer;
  background-color: $light-gray;

  i {
    color: $teal;
  }
}

.required {
  margin-top: 20px;
}

.short {
  margin-left: 20px;
  margin-bottom: 0;
  background-color: #F4F4F4;
  padding: 8px;
  color: #808080;
}

.conditional-check {
  margin-left: 40px;
}

.add {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;

  span{
    color: #B3B3B3;
  }

  i {
    color: #B3B3B3;
    margin-right: 4px;
  }
}

.add:hover {
  span {
    color: $dark-teal;
  }

  i {
    color: $dark-teal;
  }
}

.conditional-q {
  margin: 10px 0 10px 50px;
  padding-right: 50px !important;
  border-left: 4px solid $light-gray;
}

.options-button {
  cursor: pointer;
  color: #B3B3B3;
  margin-left: 20px;
  margin-bottom: 0;
  padding: 10px;

  i {
    margin-right: 8px;
  }
}

.options-button:hover {
  color: $teal;
}

.options-button:active {
  color: $dark-teal;
}

.icons-conditional {
  margin-right: 30px;
}

.short-icons {
  padding: 0 !important;
  margin-top: 20px;
}

//CANCEL BUTTON

.cancel {
  margin-top: 20px;
  cursor: pointer;
  border: 2px solid $teal;
  padding: 10px 20px;
  text-align: center;

  span{
    color: $teal;
    font-size: 13px;
  }
}

.cancel:hover {
  background-color: $teal;

  span {
    color: $light-gray;
  }
}

.cancel:active {
  margin-top: 22px;
  background-color: $dark-teal;
  border: 2px solid $dark-teal;
}

//FINISH BUTTON

.finish {
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  border: 2px solid $teal;
  background-color: $teal;
  padding: 10px 20px;
  text-align: center;

  span{
    color: $light-gray;
    font-size: 13px;
  }
}

.finish:hover {
  background-color: $dark-teal;
  border: 2px solid $dark-teal;
}

.finish-cancel {
  background-color: transparent !important;
  padding: 0 !important;
}

.finish:active {
  margin-top: 22px;
  background-color: $dark-teal;
  border: 2px solid $dark-teal;
}

.error {
  border: 2px solid #D36A6A !important;
}
