.survey-heading {
	margin-top: 40px;
}

.survey {
	margin-bottom: 60px;
}

.custom-option {
	color: red;
}

.options {
	margin-left: 20px;
	margin-bottom: 0;

	.fa-close {
		color: #B3B3B3;
		cursor: pointer;
		transition: all 0.5s;
	}
}

.fa-close:hover {
	color: #808080;
}

.delete {
	margin-left: 10px;
	padding: 5px 9px 6px 9px;
	border-radius: 4px;
	transition: all 0.5s;

	i {
		transition: all 0.5s;
	}
}

.delete:hover {
	cursor: pointer;
	background-color: #E6E6E6;

	i {
		color: #85BEAA;
	}
}

.chevron {
	margin-left: 10px;
	padding: 5px 8px 6px 8px;
	border-radius: 4px;
	transition: all 0.5s;

	i {
		transition: all 0.5s;
	}
}

.chevron:hover {
	cursor: pointer;
	background-color: #E6E6E6;

	i {
		color: #85BEAA;
	}
}

.required {
	margin-top: 20px;
}

.short {
	margin-left: 20px;
	margin-bottom: 0;
	background-color: #F4F4F4;
	padding: 8px;
	color: #808080;
}

.conditional-check {
	margin-left: 40px;
}

.add {
	margin-top: 20px;
	cursor: pointer;
	border-radius: 20px;
	padding: 10px 20px 10px 20px;
	transition: all 0.5s;

	span{
		color: #B3B3B3;
		transition: all 0.5s;
	}

	i {
		color: #B3B3B3;
		margin-right: 4px;
		transition: all 0.5s;
	}
}

.add:hover {
	span {
		color: #648F80;
	}

	i {
		color: #648F80;
	}
}

.conditional-q {
	margin: 10px 0 10px 50px;
	padding-right: 50px !important;
	border-left: 4px solid #E6E6E6;
}

.options-button {
	cursor: pointer;
	color: #B3B3B3;
	transition: all 0.5s;
	margin-left: 20px;
	margin-bottom: 0;
	padding: 10px;

	i {
		margin-right: 8px;
	}
}

.options-button:hover {
	color: #85BEAA;
}

.options-button:active {
	color: #648F80;
}

.icons-conditional {
	margin-right: 30px;
}

.short-icons {
	padding: 0 !important;
	margin-top: 20px;
}

.cancel {
	margin-top: 20px;
	cursor: pointer;
	border: 3px solid #85BEAA;
	padding: 10px 20px 10px 20px;
	transition: all 0.5s;
	text-align: center;

	span{
		color: #85BEAA;
		font-size: 16px;
		transition: all 0.5s;
	}
}

.cancel:hover {
	background-color: #85BEAA;

	span {
		color: #E6E6E6;	
	}
}

.cancel:active {
	margin-top: 22px;
	background-color: #648F80;
	border: 3px solid #648F80;
}

.finish {
	margin-top: 20px;
	margin-left: 20px;
	cursor: pointer;
	border: 3px solid #85BEAA;
	background-color: #85BEAA;
	padding: 10px 20px 10px 20px;
	transition: all 0.5s;
	text-align: center;

	span{
		color: #E6E6E6;
		font-size: 16px;
		transition: all 0.5s;
	}
}

.finish:hover {
	background-color: #648F80;
	border: 3px solid #648F80;
}

.finish:active {
	margin-top: 22px;
}

.finish-cancel {
	background-color: transparent !important;
	padding: 0 !important;
}
