.home-header {
	background-color: transparent !important;
	padding: 0 !important;
}

.survey-tile {
	transition: all 0.5s;
	padding: 20px !important;
	border-bottom: 1px solid #E6E6E6;
	cursor: pointer;

	h2 {
		transition: all 0.5s;
	}
}

.survey-tile:hover {
   -moz-box-shadow: 0 0 10px #B3B3B3;
   -webkit-box-shadow: 0 0 10px #B3B3B3;
   box-shadow: 0 0 10px #B3B3B3;

	h2 {
		color: #85BEAA;
	}
}

.new {
	margin-top: 20px;
	margin-left: 20px;
	cursor: pointer;
	border: 3px solid #85BEAA;
	background-color: #85BEAA;
	padding: 10px 20px 10px 20px;
	transition: all 0.5s;
	text-align: center;

	span{
		color: #E6E6E6;
		font-size: 16px;
		transition: all 0.5s;
	}
}

.new:hover {
	background-color: #648F80;
	border: 3px solid #648F80;
}

.new:active {
	margin-top: 22px;
}

.new-button {
	background-color: transparent !important;
	padding: 0 !important;
}
