// COLOR PALETTE
$teal: #85BEAA;
$dark-teal: #648F80;
$light-gray: #E6E6E6;
$faint-gray: #FAFAFA;

* {
	border: 0;
	outline: none;
}

*:focus {
  border: none;
}

body {
	background-color: $light-gray;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-bottom: 50px;
}

h1 {
	font-size: 30px;
	font-weight: 600;
}

h2 {
	font-size: 20px;
	font-weight: 400;
}

h3 {
	font-size: 14px;
	font-weight: 400;
}

h4 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	color: $teal;
}

h5 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: $teal;
}

span {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	color: #808080;
}

a, a:focus, a:visited {
	text-decoration: none;
	color: inherit;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.row {
	background-color: white;
	padding: 30px;
}

.question {
	cursor: default;
  transition: all 0.5s;
  margin-bottom: 2px;
  position: relative;
}

.question:after {
	border-left: 5px solid blue;
}

.question:hover {
   -moz-box-shadow: 0 0 10px #B3B3B3;
   -webkit-box-shadow: 0 0 10px #B3B3B3;
   box-shadow: 0 0 10px #B3B3B3;
   z-index: 100;
}

.header {
	padding-bottom: 0;
}

textarea {
	box-shadow: none;
	background-color: $faint-gray;
	border: none;
}

input[name="title"] {
	font-size: 30px;
	font-weight: 600;
	border: none;
	height: 50px;
	box-shadow: none;
	background-color: $faint-gray;
}

input[name="question"] {
	font-size: 20px;
	font-weight: 400;
	border: none;
	box-shadow: none;
	background-color: $faint-gray;
}

input[name="option"] {
	display: inline-block;
	width: 70%;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
}

input[name="option-conditional"] {
	display: inline-block;
	width: 70%;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
}

input[name="required"] {
	margin-right: 8px;
}

input[name="short"] {
	background-color: $light-gray;
	box-shadow: none;
}

input[name="conditional"] {
	margin-right: 8px;
}

.error-msg {
	background-color: #D36A6A;
	padding: 20px;
	color: $light-gray;
	text-align: center;
	display: inline-block;
	position: fixed;
	bottom: 30px;
	right: 30px;
	-moz-box-shadow: 0 0 10px #B3B3B3;
	-webkit-box-shadow: 0 0 10px #B3B3B3;
	box-shadow: 0 0 10px #B3B3B3;
}

//NAV

.contain-to-grid {
	background-color:transparent;
}

.top-bar {
	background-color:transparent;

	.nav-title {
		color: $teal;
		font-family: 'Amatic SC', cursive;
		font-size: 24px;
		line-height: 4rem;
	}
}

//TOOLTIP
.tool-tip {
    position: relative;
    display: inline-block;
}

.tool-tip .tool-tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    font-weight: normal;
    font-size: 12px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tool-tip .tool-tiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tool-tip:hover .tool-tiptext {
    visibility: visible;
    opacity: 1;
}
