* {
	border: 0;
	outline: none;
}

*:focus {
  border: none;
}

body {
	background-color: #E6E6E6;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-bottom: 50px;
}

h1 {
	font-size: 30px;
	font-weight: 600;
}

h2 {
	font-size: 20px;
	font-weight: 400;
}

h3 {
	font-size: 14px;
	font-weight: 400;
}

h4 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	color: #85BEAA;
}

h5 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #85BEAA;
}

span {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	color: #808080;
}

a {
	text-decoration: none;
	color: inherit;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.row {
	background-color: white;
	padding: 30px;
}

.question {
	cursor: default;
  transition: all 0.5s;
  margin-bottom: 2px;
}

.question:after {
	border-left: 5px solid blue;
}

.question:hover {
   -moz-box-shadow: 0 0 10px #B3B3B3;
   -webkit-box-shadow: 0 0 10px #B3B3B3;
   box-shadow: 0 0 10px #B3B3B3;
}

.header {
	padding-bottom: 0;
}

textarea {
	box-shadow: none;
}

input[name="title"] {
	font-size: 30px;
	font-weight: 600;
	border: none;
	height: 50px;
	box-shadow: none;
}

input[name="question"] {
	font-size: 20px;
	font-weight: 400;
	border: none;
	box-shadow: none;
}

input[name="option"] {
	display: inline-block;
	width: 70%;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
}

input[name="option-conditional"] {
	display: inline-block;
	width: 70%;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
}

input[name="required"] {
	margin-right: 8px;
}

input[name="short"] {
	background-color: #E6E6E6;
	box-shadow: none;
}

input[name="conditional"] {
	margin-right: 8px;
}

.error-msg {
	background-color: #D36A6A;
	padding: 20px;
	color: #E6E6E6;
	text-align: center;
	display: inline-block;
	position: fixed;
	bottom: 30px;
	right: 30px;
	-moz-box-shadow: 0 0 10px #B3B3B3;
	-webkit-box-shadow: 0 0 10px #B3B3B3;
	box-shadow: 0 0 10px #B3B3B3;
}
