<%= react_component('FormCreate', user_id: 1, form_id: 1) %>

<h4 class="survey-heading">CREATE SURVEY</h4>
<form>
<div class="survey">
  <div class="row header">
      <input type="text" name="title" placeholder="Survey Title" id="form-title-field">
      <textarea rows="3" cols="1" placeholder="Survey Description" id="form-intro-field"></textarea>
    <hr>
  </div>

  <div class="add columns small-centered large-centered text-center"  id="add-question">
    <i class="fa fa-plus"></i>
    <span>Add Question</span>
  </div>

  <div class="row finish-cancel">
    <div class="finish columns right small-5 medium-3 large-2" id="submit-form">
      <span>Finish</span>
    </div>
    <a href="/">
      <div class="cancel columns right small-5 medium-3 large-2">
        <span>Cancel</span>
      </div>
    </a>
  </div>
</div>
</form>
