<div class="row home-header">
	<h5 class="survey-heading">CHOOSE RECEPIENTS</h5>
</div>

<form>
<div class="row">
	<p>Phone Numbers, separated by commas.</p>
	<textarea rows="6" cols="1" placeholder="Phone Numbers"></textarea>
</div>

<div class="row finish-cancel">
	<div class="finish columns right small-5 medium-3 large-2">
		<span>Send</span>
	</div>
</div>
</form>

