<div class="survey">

<div class="row header">
<h1>Survey Name</h1>
Survey Description
<hr>
</div>

<!-- SHORT ANSWER -->
<div class="q-take row">
	<div class="q-header columns">
	What is your name?
	<hr>
	</div>

	<div class="response columns">
		<input type="text">
	</div>

	<div class="finish columns right small-5 medium-3 large-2">
		<span>Next</span>
	</div>
</div>

<!--MULT CHOICE -->
<div class="q-take row">
	<div class="q-header columns">
	What is your favorite color?
	<hr>
	</div>

	<div class="response columns">
		<div>
			<input id="option1" name="option" type="radio" class="with-font" value="sel" />
		    <label for="option1">Green</label>
	  </div>
	  <div>
			<input id="option2" name="option" type="radio" class="with-font" value="sel" />
				<label for="option2">Red</label>
		</div>
	  <div>
			<input id="option3" name="option" type="radio" class="with-font" value="sel" />
				<label for="option3">Orange</label>
		</div>
	</div>

	<div class="finish columns right small-5 medium-3 large-2">
		<span>Next</span>
	</div>
</div>

<!--CHECK BOX -->
<div class="q-take row">
	<div class="q-header columns">
	What foods do you like?
	<hr>
	</div>

	<div class="response columns">
		<div>
			<input id="box1" type="checkbox" class="with-font" />
		    <label for="box1">Steak</label>
	  </div>
	  <div>
			<input id="box2" type="checkbox" class="with-font" />
				<label for="box2">Salad</label>
		</div>
	  <div>
			<input id="box3" type="checkbox" class="with-font" />
				<label for="box3">Coffee</label>
		</div>
	</div>

	<div class="finish columns right small-5 medium-3 large-2">
		<span>Next</span>
	</div>
</div>

</div>
