<div class="contain-to-grid sticky">
	<nav class="top-nav top-bar" data-topbar role="navigation">
	<ul>
	<a href="<%= root_path %>">
		<li class="home left">
			<div class="nav-title">Somo Surveys</div>
		</li>
	</a>
	<li class="home right">
	</li>
	</ul>
	</nav>
</div>
